includes:
    - vendor/larastan/larastan/extension.neon
parameters:
  level: 8
  paths:
    - .
  fileExtensions:
    - php
    - sample
  excludePaths:
    - legacy
    - storage/framework/views
    - tests/Unit
    - vendor
  bootstrapFiles:
    - bootstrap.php.lint
  stubFiles:
    - stubs/Skautis/Exception.php
    - stubs/Skautis/HelperTrait.php
    - stubs/Skautis/Skautis.php
    - stubs/Skautis/User.php
    - stubs/Skautis/UserManagement.php
  dynamicConstantNames:
    - _API_EXEC
  ignoreErrors:
    - '#Variable \$_API_SECRETS_EXEC might not be defined.#'
