includes:
    - vendor/larastan/larastan/extension.neon
parameters:
  level: 8
  paths:
    - .
  fileExtensions:
    - php
    - sample
  excludePaths:
    - legacy
    - storage/framework/views
    - tests/Unit
    - vendor
  bootstrapFiles:
    - bootstrap.php.lint
  dynamicConstantNames:
    - _API_EXEC
  ignoreErrors:
    - '#Variable \$_API_SECRETS_EXEC might not be defined.#'
