<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="clover.xml"/>
      <html outputDirectory="coverage" />
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="SESSION_DRIVER" value="array"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
      <directory suffix=".php">legacy/Skaut</directory>
      <directory suffix=".php">legacy/v1.0/endpoints</directory>
    </include>
  </source>
</phpunit>
