<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
		backupGlobals="true"
		backupStaticAttributes="false"
		beStrictAboutChangesToGlobalState="true"
		bootstrap="tests/bootstrap.php"
		cacheResult="false"
		cacheTokens="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		forceCoversAnnotation="true"
		printerClass="PHPUnit\Util\TestDox\CliTestDoxPrinter"
		processIsolation="false"
		stopOnError="false"
		stopOnFailure="false"
		stopOnIncomplete="false"
		stopOnSkipped="false"
		stopOnRisky="false"
		testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
		timeoutForSmallTests="1"
		timeoutForMediumTests="10"
		timeoutForLargeTests="60"
		verbose="false">
	<php>
		<server name="DOCUMENT_ROOT" value="tests/v0.9"/>
	</php>
	<filter>
		<whitelist>
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>node_modules/</directory>
				<directory>tests/</directory>
				<directory>vendor/</directory>
			</exclude>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="v0.9">
			<directory suffix=".php">tests/v0.9</directory>
			<exclude>tests/v0.9/api-config.php</exclude>
			<exclude>tests/v0.9/api-secrets.php</exclude>
			<exclude>tests/v0.9/DatabaseTestCase.php</exclude>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="clover.xml"/>
	</logging>
</phpunit>
