.first-page-qr-code-header
{
	position: absolute;
	right: 10mm;
	top: 5mm;
}

.odd-page-lesson-name-header
{
	color: #7F7F7F;
	font-style: italic;
	padding-right: 1.35em;
	padding-top: -1.65em;
	text-align: right;
}

.odd-page-field-icon-footer
{
	float: right;
	height: 25px;
	margin-bottom: 1.95em;
	margin-top: -1.95em;
}

.dottedline
{
	border-right: solid 250px white;
	margin-right: -250px;
	padding-right: -250px;
}

.dottedpage
{
	position: absolute;
	left: 19.5mm;
	right: 12.25mm;
	overflow: hidden;
	page-break-inside: avoid;
}

.lesson-name {
	margin-right: 12mm;
}

h1
{
	font-size: 1.7em;
	text-align: center;
}

h2
{
	font-size: 1.15em;
	padding-bottom: -0.6em;
}

h3
{
	font-size: 1em;
	padding-bottom: -0.5em;
}

body
{
	line-height: 160%;
	text-align: justify;
}

ul, ol
{
	padding-left: 3em;
	padding-top: 0.4em;
}

li
{
	padding-bottom: 0.3em;
	padding-top: -0.35em;
}

ul p, ol p
{
	padding-bottom: -1em;
	padding-top: -1em;
}

table
{
	border: 1px solid black;
	border-collapse: collapse;
	page-break-inside: avoid;
	width: 100%
}

th, td
{
	border: 1px solid black;
	padding: 0.3em 0.8em;
}

a
{
	color: black;
	text-decoration: none;
}
