Order Deny,Allow
Deny from all
Allow from 127.0.0.1

<FilesMatch "^(invalidate|account|competence|deleted-lesson|event|field|group|image|lesson|login|logout|mutex|mutex-beacon|refresh|user)(\.php)?$">
	Order Allow,Deny
	Allow from all
</FilesMatch>

RewriteEngine On

# Revoke token if not on https
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}/API/v0.9/invalidate.php [QSA,L]

# REST API
RewriteRule ^(account|competence|deleted-lesson|event|field|group|image|lesson|login|logout|mutex|mutex-beacon|refresh|user)(/(.*?)(/(.*?)(/(.*)|$)|$)|$) /API/v0.9/$1.php?id=$3&sub-resource=$5&sub-id=$7 [QSA]

# Security headers
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header always set X-Frame-Options "DENY"
Header always set X-Content-Type-Options "nosniff"
Header always set X-Xss-Protection "1; mode=block"
Header always set Referrer-Policy "same-origin"
Header always set Content-Security-Policy "default-src 'none'"
Header always set Feature-Policy "geolocation 'none'; midi 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; fullscreen 'none'; accelerometer 'none'; ambient-light-sensor 'none'; encrypted-media 'none'; payment 'none'; usb 'none'; vr 'none'"
Header always set Expect-CT "enforce; max-age=31536000"

# Compression
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE application/json
