name: "CI"
on:
  push:
    branches: "*"
  pull_request:
env:
  php-version: 8.3
  cache-version: 1
jobs:
  unit:
    name: "Unit test"
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5
        ports:
          - 3306:3306
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup PHP"
        uses: shivammathur/setup-php@2.36.0
        with:
          php-version: ${{ env.php-version }}
          coverage: pcov

      - name: "Cache Composer dependencies"
        uses: actions/cache@v5
        with:
          path: "~/.composer/cache"
          key: composer-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('composer.json') }}
          restore-keys: |
            composer-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('composer.json') }}
            composer-dependencies-${{ runner.os }}-${{ env.cache-version }}-

      - name: "Install Composer dependencies"
        run: |
          composer -n install

      - name: "Run unit tests"
        run: |
          composer test

      - name: "Upload coverage results"
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup PHP"
        uses: shivammathur/setup-php@2.36.0
        with:
          php-version: ${{ env.php-version }}
          coverage: none

      - name: "Cache Composer dependencies"
        uses: actions/cache@v5
        with:
          path: "~/.composer/cache"
          key: composer-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('composer.json') }}
          restore-keys: |
            composer-dependencies-${{ runner.os }}-${{ env.cache-version }}-${{ hashFiles('composer.json') }}
            composer-dependencies-${{ runner.os }}-${{ env.cache-version }}-

      - name: "Install Composer dependencies"
        run: |
          composer -n install

      - name: "Lint"
        run: |
          composer lint
